@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: #eaffff; ">
    <div class="text-center">
        <h1 class="display-4" style="font-family: cursive;">Welcome To Weather Reports</h1>
        <img src="~/css/Weather.jfif" alt="Weather" />
    </div>
</body>