@model WeatherClient.Models.UserDetail

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/WithoutLoginRegisterLayout.cshtml";
}

<body style="background-color: #eaffff; ">
    <div>
        <div style="width: 350px; margin: 30px auto;">
            <div style="height:600px; padding: 20px; border-radius: 5px; border: none; color: #999; border-radius: 1px; margin-bottom: 15px; background: #fff; border: 1px solid #f3f3f3; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);">
                <div style=" border-bottom: none; position: relative; justify-content: center;">
                    <h4 style="color: #636363; text-align: center; font-size: 26px; margin-top: 0; margin-bottom:3rem">Sign In</h4>
                    <button type="button" style=" position: absolute; top: -10px; right: -10px;" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div>
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">

                            <div style=" margin-bottom: 20px;">
                                <div>
                                    <span style=" max-width: 42px; text-align: center; background: none; border-width: 0 0 1px 0; padding-left: 5px; border-radius: 0;"><i class="fa fa-user" style="font-size: 21px;"></i></span>
                                    <input name="username" placeholder="Username" style="min-height: 38px; padding-left: 5px; box-shadow: none !important; border-width: 0 0 1px 0; border-radius: 0;" class="form-control" />
                                </div>
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div style=" margin-bottom: 20px;">
                                <div>
                                    <span style=" max-width: 42px; text-align: center; background: none; border-width: 0 0 1px 0; padding-left: 5px; border-radius: 0;"><i class="fa fa-user" style="font-size: 21px;"></i></span>

                                    <input asp-for="Email" name="Email" placeholder="Email" style="min-height: 38px; padding-left: 5px; box-shadow: none !important; border-width: 0 0 1px 0; border-radius: 0;" class="form-control" />
                                </div>
                            </div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div style=" margin-bottom: 20px;">
                                <div>
                                    <span style=" max-width: 42px; text-align: center; background: none; border-width: 0 0 1px 0; padding-left: 5px; border-radius: 0;"><i class="fa fa-user" style="font-size: 21px;"></i></span>

                                    <input asp-for="Password" type="password" name="Password" placeholder="Password" style="min-height: 38px; padding-left: 5px; box-shadow: none !important; border-width: 0 0 1px 0; border-radius: 0;" class="form-control" />
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group" style=" margin-bottom: 20px;">
                            <button type="submit" class="btn btn-primary btn-block btn-lg" style="display: inline-block; margin: 50px auto; font-size: 16px; font-weight: bold; background: #19aa8d; border-radius: 3px; border: none; min-width: 140px; outline: none !important; margin-bottom:1rem;">Register</button>
                        </div>

                    </form>
                </div>
                <div style=" color: #999; border-color: #dee4e7; text-align: center; margin: 0 -25px -25px; font-size: 13px; justify-content: center;">Already have an account? <a asp-action="Login" style=" text-decoration: underline;">Login</a></div>
            </div>
        </div>
    </div>

</body>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
