@{
    ViewBag.Title = "Search Weather By City";
}


<h2>Search Weather By City</h2>
<form method="post">
    Enter City Name:<input type="text" name="cityName" width="1000" />
    <input type="submit" class="btn btn-primary" value="Search" />
</form>

